---
// import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro"
import { herbs } from "../../components/Products.astro"
import { Image } from "astro:assets"

// roting dinamico
export async function getStaticPaths() {
    return herbs.map((herbs) => ({
        name_herbs : { params: herbs.name_herbs},
    }))
}

const { name_herbs } = Astro.params;
---

<Layout title={name_herbs}>
    <Image src={`/src/assets/${name_herbs}.png`} alt={name_herbs} width={47} height={55} />
    <h2>{name_herbs}</h2>
    <p>{}</p>
</Layout>
