---
import { Image } from 'astro:assets';
interface Props {
    imagePath: string;
    herbs:{
        id: number;
        name_herbs: string;
        paragraph: string;
        key_points: string;
        available: boolean;
    };
}


const { herbs,imagePath } = Astro.props;
---
<a 
    href={`/lunch/${herbs.name_herbs}`}
    class="rounded-lg border shadow-md bg-yellow-400  border-gray-700
    hover:sacle-105 hover:border-gray-700 hover:border-gray-500 transition flex 
    flex-col"
>
    <Image class="md-5 rounded.lg flex justify-center p-4" src={imagePath} alt=`Patch for launch ${herbs.name_herbs}` width={47} height={55}/>
    <header class="p-4 flex-grow">{herbs.name_herbs}</header>

</a>